spring:
  application:
    name: community
  config:
    import: optional:file:.env[.properties]

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${MYSQL_URL}
    username: ${MYSQL_USER_NAME}
    password: ${MYSQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          batch_size: 100
          order_inserts: true
          order_updates: true

  output:
    ansi:
      enabled: always

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

app:
  image:
    base-url: http://localhost:8080

jwt:
  secret: ${JWT_SECRET}
  access-token:
    validity: 1800000    # 30분
    cookie-name: refresh_token
  refresh-token:
    validity: 604800000 # 7일

springdoc:
  override-with-generic-response: false

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG
    org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver: INFO

    org.hibernate.SQL: INFO
    org.hibernate.orm.jdbc.bind: OFF
    org.hibernate.type.descriptor.sql.BasicBinder: OFF

    com.zaxxer.hikari: WARN
    com.mysql.cj.jdbc: WARN
